*	{
		min-height: 0;
		min-width: 0;
		font-family: 'JetBrains Mono', monospace;
		font-size: 16px;
		font-weight: 600;
	}
	
	window#waybar {
		transition-property: background-color;
		transition-duration: 0.5s;
		background: rgba(0, 0, 0, 0);
	}
	
	#clock,
	#pulseaudio,
	#custom-microphone,
	#custom-logo,
	#custom-power,
	#custom-spotify,
	#custom-notification,
	#cpu,
	#tray,
	#memory,
	#window,
	#mpris,
	#custom-poweroff,
	#custom-restart,
	#network,
	#bluetooth,
	#custom-keyboard_layout,
	#battery,
    #workspaces button {
		padding: 0.3rem 0.6rem;
		margin: 0.4rem 0.25rem;
		border-radius: 6px;
		background-color: #1e1e2e;
	color: #a6e3a1;
	}
	
	#custom-sep {
		padding: 0px;
	}
	
	#custom-poweroff {
		color: #f38ba8;
	}

	#custom-restart {
		color: #a6e3a1;
	}
	
	#clock {
		color: #74c7ec;
	}
	
	#clock.simple {
		color: #89b4fa;
	}
	
	#workspaces button {
		padding: 0.3rem 0.6rem;
		margin: 0.4rem 0.25rem;
		border-radius: 6px;
		color: #cdd6f4;
	}
	
	#workspaces button:hover {
		color: #1e1e2e;
		background-color: #cdd6f4;
	}
	
	#workspaces button.active {
		background-color: #1e1e2e;
		color: rgb(230, 127, 101);
	}
	
	#workspaces button.urgent {
		background-color: #1e1e2e;
		color: #f38ba8;
	}

	#cpu {
		color: #57ced6;
	}
	
	#memory {
		color: #cba6f7;
	}

	tooltip {
		background-color: #181825;
		border: 2px solid #89b4fa;
	}

	#network, #bluetooth {
		color: rgb(230, 127, 101);
	}