* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #1a1a1a;
	color: #fdf6e3;
}

#custom-right-arrow,
#custom-left-arrow{
	color: #1a1a1a;
}
#custom-right-arrow,
#custom-left-arrow {
	color: #292b2e;
	background: #1a1a1a;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#disk {
	color: #b58900;
}
#backlight {
	color: #cb4b16
}
#pulseaudio, #custom-microphone, #bluetooth {
	color: #268bd2;
}
#memory, #custom-keyboard_layout {
	color: #2aa198;
}
#cpu, #network {
	color: #6c71c4;
}
#battery, #custom-poweroff, #custom-restart {
	color: #859900;
}


#clock,
#pulseaudio,
#memory,
#cpu,
#battery {
	padding: 0 10px;
}
